:root {
  --gray: rgb(185, 185, 185);
  --lgt-gray: rgb(214, 214, 214);
  --off-white: rgb(236, 236, 236);
}
form {
  margin: 10px;
}
.col {
  display:flex;
  flex-direction: column;
}
.row {
  display:flex;
}
.pageContent {
  background-color: var(--lgt-gray);
}
.top {
  width: 100vw;
  height: 8vh;
}
.topLeft {
  display: block;
  width: 30vw;
  height: 100%;
  font-size: 40px;
  text-align: center;
}
.topRight {
  width: 70vw;
  text-align: center;
  height: 100%;
}
.currentProjectName {
  font-size: 30px;
}
.mainContainer {
  width: 100vw;
  height: 100%;
  background-color: var(--off-white);
}
.left {
  flex:0.5;
  max-width: 20vw;
  height: 100vh;
  background-color: var(--gray);
}
.right {
  flex:5;
  max-width: 90vw;
  height: 100%;
}
.optional {
  width: 100%;
}
.hidden {
  display: none;
}
#createTask,
#createProject {
  border: 2px solid lightcoral;
  border-radius: 8px;
  margin: 5px;
}
.title {
  display:flex;
}
.desc {

}
.due {

}
.priority {
  width: 5%;
  height:auto;
  margin:5px;
}
.task {
  display:flex;
  width:100%;
  height:10vh;
  border:2px solid green;
}
.taskModule {
  width:90%;
  height:100%;
}
.taskContainer {
  border:2px solid red;
  width:100%;
  height:auto;
}
.taskInfo {
  display:flex;
}